/*
----------------------------------------------------------------------------------
HEADER - Barra de Navegación de Contacto y LogIn
----------------------------------------------------------------------------------
*/
.site-header{
	background-color: $body-background;
	&>.col-full{
		display: flex;
		flex-flow: row wrap;
		& section.secondary_navigation_wrapper{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 67%;
			box-sizing: border-box;
			& nav.secondary-navigation{
				margin: 0 auto;
				width: 100%;
				order: 3;
			}
		}
	}
	// & picture{
	// 	order: 0;
	// }
	// & .site-search{
	// 	order: 1;
	// }
	// & .secondary-navigation{
	// 	order: 2;
	// }
	// & .storefront-primary-navigation{
	// 	order: 3;
	// }
	&_nav{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		background-color: $white-nav-top;
		box-sizing: border-box;
		&--item{
			width: 100%;
			box-sizing: border-box;
			padding-left: 1rem;
			display: none;
			@include respond-to(lg) {
				display: block;
			}
		}
		&--nav ul li a,
		&--contact i,
		&--contact>span,
		&--welcome,
		&--login a,
		&--social a i{
			color: $black;
			line-height: 2rem;
		}
		&--contact{
			@include respond-to(lg) {
				width: 22%;
			}
			&:nth-child(1){
				@include respond-to(lg) {
					width: 25%;
				}
			}
		}
		&--welcome{
			@include respond-to(lg) {
				box-sizing: border-box;
				display: flex;
				width: 30%;
			}
			&--dropdown {
				margin-left: 1rem;
				position: relative;
				&>button{
					padding: 4px 1rem;
					min-width: 125px;
					color: $white;
					&:focus{
						outline-color: transparent;
					}
				}
				&>ul{
					background-color: $color-theme;
					box-sizing: border-box;
					& li{
						width: 100%;
						&:hover{
							background-color: $color-theme-hover;
						}
						&>a{
							padding-left: 1rem;
							padding-right: 1rem;
							white-space: nowrap;
							width: 100%;
							display: block;
							color: $white;
						}
					}
				}
			}
		}
		&--login{}
		&--social{
			@include respond-to(lg) {
				width: 10%;
				text-align: center;
				font-size: 1.2rem;
			}
			& a{
				margin: 0 5px;
				&>i.fa:hover{
					color: grey;
				}
			}
		}
	}
}
section.storefront-primary-navigation{
	background-color: $black !important;
}

.site-header-cart .widget_shopping_cart{
	background-color: #24252B;
}