/** Customizando Estilos */

body {
    font-size: 16px;
    font-family: $base-font;
}

header.site-header{
    padding-top: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.8rem;
    font-family: $base-font;

    @media screen and (min-width: $screen-md) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.4rem;
    font-family: $base-font;

    @media screen and (min-width: $screen-md) {
        font-size: 1.6rem;
    }
}

h3 {
    font-size: 1.2rem;
    font-family: $base-font;

    @media screen and (min-width: $screen-md) {
        font-size: 1.4rem;
    }
}

h4 {
    font-size: 1.1rem;
    font-family: $base-font;

    @media screen and (min-width: $screen-md) {
        font-size: 1.2rem;
    }
}

.hide {
    display: none;
}

.show-block{
    display: block;
}

.show-inline{
    display: inline;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    z-index: 1000;
    margin-left: 0;
}

noscript iframe.google-tag {
    display: none;
    visibility: hidden;
}
