/**
 *-----------------------------------------------------------------------------------------
 * Customizando FLEXSLIDER
 *-----------------------------------------------------------------------------------------
 */

.flexslider{
	&__principal{
		display: none;
		@include respond-to(md) {
			display: flex;
			align-items: center;
			border: none !important;
			margin-top: 3.2rem;
			@include respond-to(lg) {
				margin-top: 0;
			}
		}
	}
	&__products{
		.products{
			display: flex;
		}
	}
}