.site-footer{
	&__item{
		box-sizing: border-box;
		width: 100%;
		@include respond-to(md) {
			width: 50%;
		}
		@include respond-to(lg) {
			width: 25%;
		}
		& h2{
			// @include bg('http://localhost/wp-content/themes/idea-storefront-child/images/fondo-footer.png', $black-ligth, 100% 3rem);
			text-align: center;
			font-weight: 300;
			font-size: 1.3rem !important;
			text-transform: uppercase;
			margin: 1.5rem 0.5rem;
			line-height: 3rem;
			border: 3px solid $color-theme;
		}
		& h2,
		& p,
		& i,
		& span{
			color: $white;
		}
		& i{
			margin-right: 0.5rem;
			margin-left: 0.5rem;
		}
		& a{
			color: $white !important;
			font-weight: 300 !important;
			&:hover{
				color: $color-theme-hover !important;
			}
		}
		&--contact{
			padding: 0 1rem;
			font-size: 1.2rem;
		}
		&--nav{
			ul.site-footer__item--nav-categories{
				margin-left: 1.2rem !important;
				font-size: 1.25rem;
				text-transform: uppercase;
			}
		}
	}
	&__credits{
		background-color: $footer-bottom-bar-background-color;
		color: $white;
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
		& a{
			color: $color-theme;
			font-weight: 300;
			&:hover{
				color: $color-theme-hover;
			}
		}
	}
}