/*
----------------------------------------------------------------------------------
HEADER - Barra de Navegación de Contacto y LogIn
----------------------------------------------------------------------------------
*/
.site-header{
	background-color: $body-background;
	&>.col-full{
		display: flex;
		flex-flow: row wrap;
		margin-top: 1rem;
		& picture.logo_header{
			display: flex;
			align-items: center;
		}
		& section.secondary_navigation_wrapper{
			display: flex;
			flex-flow: row wrap;
			width: 67%;
			box-sizing: border-box;
			& nav.secondary-navigation{
				order: 4;
				& ul.menu {
					li {
						&.current-menu-item {
							> a {
								color: $color-theme !important;
								font-weight: 700 !important;
								&:hover{
									color: $color-theme-hover !important;
								}
							}
						}
					}
				}
			}
			& picture{
				margin: 0 auto;
			}
			& div.site-search{
				width: 68%;
				margin-left: 2rem;
				order: 2;
			}
			& ul.site-header-cart.menu{
				width: 22%;
				margin-left: 2rem;
				order: 3;
				&:hover{
					& >li>a>span{
						color: $color-theme-hover !important;
					}
				}
			}
		}
	}
	&_nav{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		background-color: $white-nav-top;
		box-sizing: border-box;
		&--item{
			width: 100%;
			box-sizing: border-box;
			padding-left: 1rem;
			display: none;
			@include respond-to(lg) {
				display: block;
			}
		}
		&--nav ul li a,
		&--contact i,
		&--contact>span,
		&--welcome,
		&--login a,
		&--social a i{
			color: $black;
			line-height: 2rem;
		}
		&--contact{
			@include respond-to(lg) {
				width: 22%;
			}
			&:nth-child(1){
				@include respond-to(lg) {
					width: 25%;
				}
			}
		}
		&--welcome{
			@include respond-to(lg) {
				box-sizing: border-box;
				display: flex;
				width: 30%;
			}
			&--dropdown {
				margin-left: 1rem;
				position: relative;
				&>button{
					padding: 4px 1rem;
					min-width: 125px;
					color: $white;
					&:focus{
						outline-color: transparent;
					}
				}
				&>ul{
					background-color: $color-theme;
					box-sizing: border-box;
					& li{
						width: 100%;
						&:hover{
							background-color: $color-theme-hover;
						}
						&>a{
							padding-left: 1rem;
							padding-right: 1rem;
							white-space: nowrap;
							width: 100%;
							display: block;
							color: $white;
							& i{
								margin-right: 0.5rem;
							}
						}
					}
				}
			}
		}
		&--login{}
		&--social{
			@include respond-to(lg) {
				width: 10%;
				text-align: center;
				font-size: 1.2rem;
			}
			& a{
				margin: 0 5px;
				&>i.fa:hover{
					color: grey;
				}
			}
		}
	}
}
.site-header-cart .widget_shopping_cart{
	background-color: #24252B;
}