/* FONT PATH MYRIADPRO
 * -------------------------- */
@font-face {
  font-family: 'MyriadPro';
  src: url('./fonts/fonts-myriadpro/MyriadPro-Black.otf');
  src: url('./fonts/fonts-myriadpro/MyriadPro-Bold.otf'),
  url('./fonts/fonts-myriadpro/MyriadPro-Cond.otf'),
  url('./fonts/fonts-myriadpro/MyriadPro-Light.otf'),
  url('./fonts/fonts-myriadpro/MyriadPro-Regular.otf'),
  url('./fonts/fonts-myriadpro/MyriadPro-Semibold.otf');
  font-weight: normal;
  font-style: normal;
}